* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* style sidebars */
.column {
    float: left;
    padding: 15px;
}

.column.sidebar {
    width: 25%;
}

.column.middle {
    width: 50%;
}


/* footer of tue website */
.footer {
    background-color: #9ddfd3; 
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* header of the website */
.header {
    background-color: #dbf6e9;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #31326f;
}


/* style navigation */
.navigation {
    background-color: #31326f;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

.navigation a:hover {
    background-color: rgba(146, 158, 172, 0.5);
}


/* header of To Do List */
header {
    background-color: #ffc93c;
    color: black;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* input to write a task to do */
input {
    width: 100%;
    height: 30px;
    font-size: 15px;
    text-indent: 16px;
    margin-top: 10px;
}

/* list of tasks */
ul {
    list-style-type: none;
}

li {
    padding: 5px 15px;
    color: #444;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 3px;
}

.ready {
    text-decoration: line-through;
    color: gray;
}

.ready button.complete {
    background-color: #9ddfd3;
}


#bottom {
    background-color: #ffc93c;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* style buttons of list of tasks */
button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.buttons {
    float: right;
}

.buttons button:hover {
    background-color: #dbf6e9;
}

.buttons button {
    border: none;
}

.remove {
    background-image: url("/public/img/x-mark.png");
    background-size: contain;
    margin-left: 5px;
    border-radius: 10px;
}

.complete {
    background-image: url("/public/img/check-mark.png");
    background-size: contain;
    margin-left: 5px;
    border-radius: 25px;
}



/* for different divices */
@media screen and (max-width: 600px) {

    .column.sidebar, .column.middle {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {

    .footer {
        position: fixed;
    }
}